@import "./config";

body {
  background-color: darken($color: $bg-light, $amount: 60%);
  height: 100vh;
  overflow: hidden;
  transition: all 2s ease;
  opacity: 0;
  @include transitionSlower;
}

// menu
.menu_btn {
  position: fixed;
  top: 32px;
  left: 32px;
  z-index: 5;
  width: 40px;
  height: auto;
  cursor: pointer;
  @include transitionEase;

  &.open {
    left: 15%;
  }

  span:nth-of-type(1) {
    display: block;
    width: 100%;
    height: 2px;
    background-color: $black;
    border-radius: 32px;
    @include transitionEase;

    &.open {
      width: 75%;
      margin-left: 25%;
    }
  }
  span:nth-of-type(2) {
    @extend span:nth-of-type(1);
    margin: 4px 0;

    &.open {
      width: 50%;
      margin-left: 50%;
    }
  }
  span:nth-of-type(3) {
    @extend span:nth-of-type(1);

    &.open {
      width: 25%;
      margin-left: 75%;
    }
  }
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  height: 100vh;
  width: 20%;
  background-color: $white;
  transform: translateX(-100%);
  @include flexDisplay(column, center, center);
  @include transitionEase;

  &.open {
    transform: translateX(0%);
  }

  nav {
    span {
      position: relative;
      display: block;
      margin-bottom: 64px;
      font-family: "Pompiere", cursive;
      font-size: $big-font;
      color: $blue-light;
      cursor: pointer;
      transform: translateX(-150%);
      @include transitionFast;

      &:last-child {
        margin-bottom: 0;
      }

      &.open {
        transform: translateX(0%);
      }

      &:hover span {
        width: 100%;
      }

      span {
        display: block;
        position: absolute;
        bottom: 0;
        margin: 0;
        left: 0;
        width: 10%;
        height: 1px;
        background-color: $blue-light;
        transform: translateX(0%);
        @include transitionFast;
      }
    }
  }
}

// aside timeline
aside {
  position: fixed;
  z-index: 3;
  right: 32px;
  top: 200px;
  height: 30%;
  background-color: red;

  .line {
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: $white;
    opacity: 0.5;
  }

  span {
    position: absolute;
    top: 0;
    right: -3px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    display: block;
    background-color: $white;
    cursor: pointer;
    @include transitionEase;

    &.one {
      transform: scale(2);
    }

    &.two {
      top: 35%;
    }
    &.three {
      top: 65%;
    }
    &.four {
      top: 100%;
    }
  }
}

// main
main {
  position: relative;
  height: 100%;

  // header
  header {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    padding: 26px 0;
    text-align: center;
    background-color: $bg-light;

    h1 {
      font-size: $large-font;
      color: $text-light;
    }
  }

  section {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 160px 0 60px 0;
    @include transitionSlower;

    .container {
      h2 {
        font-size: $large-font - 2;
        margin-bottom: 32px;
      }

      p {
        font-size: $medium-font + 2;
        line-height: 1.5;

        a {
          text-decoration: underline;
          font-size: $medium-font + 2;
        }
      }

      a.btn {
        font-size: $medium-font + 4;
        color: $black;

        text-decoration: none;
        padding: 10px 26px;
        background-color: $white;
        border: 1px solid $white;
        @include transitionFast;

        &:hover {
          background-color: transparent;
          color: $white;
        }
      }
    }

    &.about,
    &.lessons,
    &.next {
      transform: translateY(100%);
      opacity: 0;
    }
  }

  // home section
  section.home {
    .container {
      @include gridDisplay(repeat(2, 1fr), 16px);

      .text {
        padding-right: 32px;

        h2 {
          color: $white;
        }

        p {
          margin-bottom: 64px;
          color: $white;

          a {
            color: $white;
          }
        }
      }

      .images {
        position: relative;
        overflow: hidden;
        @include transitionSlower;

        img {
          position: absolute;
          top: 0;
          left: 0;
          @include transitionSlower;
        }
        img:nth-of-type(2),
        img:nth-of-type(3),
        img:nth-of-type(4),
        img:nth-of-type(5),
        img:nth-of-type(6) {
          transform: translateX(100%);
        }
      }
    }
  }

  // about section
  section.about {
    .container {
      position: relative;

      h2 {
        color: $white;
      }

      p {
        margin-bottom: 80px;
        color: $white;
      }

      h3.question {
        font-size: $medium-font + 2;
        margin-bottom: 64px;
        display: inline-block;
        cursor: pointer;
        color: $white;

        &:hover i {
          opacity: 1;
          margin-left: 32px;
        }

        i {
          opacity: 0;
          @include transitionFast;
          color: $white;
        }
      }
      h3.question:last-child {
        margin-bottom: 0;
      }
    }

    .answer {
      position: absolute;
      top: 30%;
      left: 50%;
      padding: 32px 16px;
      background-color: $white;
      box-shadow: -5px 5px 32px darken($color: $blue-light, $amount: 5%);
      opacity: 0;
      @include transitionEase;

      h3 {
        margin-bottom: 32px;
        font-size: $big-font - 2;
        color: $text-light;
      }
      p {
        margin-bottom: 0;
        color: $text-light;

        a {
          color: $text-light;
        }
      }
    }
  }

  //   lessons section
  section.lessons {
    h2 {
      color: $white;
    }

    .lessons_inner {
      @include gridDisplay(repeat(4, 1fr), 5px);

      div {
        position: relative;
        padding: 42px 0;
        background-color: $white;
        cursor: pointer;
        overflow: hidden;
        @include transitionEase;
        @include flexDisplay(column, center, center);

        &:hover .overlay {
          width: 100%;
          left: 0;
        }

        .overlay {
          position: absolute;
          z-index: 1;
          top: 0;
          left: 10%;
          width: 10%;
          height: 100%;
          background-color: $text-light;
        }

        h3 {
          position: relative;
          z-index: 2;
          color: $text-light;
          font-size: $medium-font + 4;
        }
      }

      div.sass {
        grid-column: 3;
        grid-row: 1/3;
      }

      div.kali_linux {
        grid-column: 1/3;
      }
    }
  }

  // next section
  section.next {
    h2,
    h3,
    p,
    a {
      color: $white;
    }

    .timeline {
      position: relative;
      width: 80%;
      margin: 140px auto;
      border-top: 1px solid darken($color: $white, $amount: 10%);

      .dot {
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $white;
      }
      .dot:nth-of-type(1) {
        top: -3px;
        left: 0;
      }
      .dot:nth-of-type(2) {
        top: -3px;
        left: 25%;
      }
      .dot:nth-of-type(3) {
        top: -3px;
        left: 50%;
      }
      .dot:nth-of-type(4) {
        top: -3px;
        right: 25%;
      }
      .dot:nth-of-type(5) {
        top: -3px;
        right: 0;
      }

      div {
        position: absolute;
        width: 20%;
        padding: 10px;
        background-color: $white;

        h3 {
          margin-bottom: 6px;
          font-size: $medium-font;
          color: $text-light;
        }

        p {
          font-size: $small-font;
          color: $text-light;
        }
      }

      div:nth-of-type(1) {
        top: 8px;
        left: -10%;
      }

      div:nth-of-type(2) {
        top: -90px;
        left: 15%;
      }

      div:nth-of-type(3) {
        top: 8px;
        left: 40%;
      }

      div:nth-of-type(4) {
        top: -90px;
        right: 15%;
      }

      div:nth-of-type(5) {
        top: 8px;
        right: -10%;
      }
    }
  }
}

// footer
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 3;
  padding: 0 0 16px 0;
  background-color: $bg-light;

  .container {
    @include flexDisplay(row, center, space-between);
    padding-top: 16px;
    border-top: 1px solid $lightgray;

    h3.clock {
      font-size: $small-font;
      color: $text-light;
    }

    div:first-child {
      a {
        margin: 0 16px;
        font-size: $medium-font;
        color: $text-light;
      }
    }

    div:last-child {
      font-size: $small-font;
      a {
        margin-left: 10px;
        color: $blue-light;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
