@import url("https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&family=Mirza:wght@400;500;600;700&family=Odibee+Sans&family=Pompiere&family=Trochut:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

*:focus,
*::before:focus,
*::after:focus {
  outline: none;
}

h1,
h2,
h3 {
  font-family: "Pompiere", cursive;
  font-weight: bold;
}

p,
a,
span {
  font-family: "Marvel", sans-serif;
  line-height: 1.4;
  font-weight: 400;
}

img {
  width: 100%;
}

.no_click {
  opacity: 0.4;
  cursor: not-allowed;
}

.container {
  width: 80%;
  margin: 0 auto;
}

body {
  background-color: #0064c8;
  height: 100vh;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.menu_btn {
  position: fixed;
  top: 32px;
  left: 32px;
  z-index: 5;
  width: 40px;
  height: auto;
  cursor: pointer;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.menu_btn.open {
  left: 15%;
}

.menu_btn span:nth-of-type(1), .menu_btn span:nth-of-type(2), .menu_btn span:nth-of-type(3) {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000000;
  border-radius: 32px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.menu_btn span:nth-of-type(1).open, .menu_btn span.open:nth-of-type(2), .menu_btn span.open:nth-of-type(3) {
  width: 75%;
  margin-left: 25%;
}

.menu_btn span:nth-of-type(2) {
  margin: 4px 0;
}

.menu_btn span:nth-of-type(2).open {
  width: 50%;
  margin-left: 50%;
}

.menu_btn span:nth-of-type(3).open {
  width: 25%;
  margin-left: 75%;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  height: 100vh;
  width: 20%;
  background-color: #ffffff;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.menu.open {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.menu nav span {
  position: relative;
  display: block;
  margin-bottom: 64px;
  font-family: "Pompiere", cursive;
  font-size: 26px;
  color: #072dac;
  cursor: pointer;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.menu nav span.open {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.menu nav span:hover span {
  width: 100%;
}

.menu nav span span {
  display: block;
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 0;
  width: 10%;
  height: 1px;
  background-color: #072dac;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.menu i.fa-power-off {
  margin-top: 100px;
  font-size: 26px;
  color: #22e1ee;
  cursor: pointer;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.menu i.fa-power-off:active {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
}

aside {
  position: fixed;
  z-index: 3;
  right: 32px;
  top: 200px;
  height: 30%;
  background-color: red;
}

aside .line {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #ffffff;
  opacity: 0.5;
}

aside span {
  position: absolute;
  top: 0;
  right: -3px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  display: block;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

aside span.one {
  -webkit-transform: scale(2);
          transform: scale(2);
}

aside span.two {
  top: 35%;
}

aside span.three {
  top: 65%;
}

aside span.four {
  top: 100%;
}

.toggle {
  position: fixed;
  top: 26px;
  right: 32px;
  z-index: 4;
  display: inline-block;
  cursor: pointer;
}

.toggle i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 26px;
  color: #131c46;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

main {
  position: relative;
  height: 100%;
}

main header {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  padding: 26px 0;
  text-align: center;
  background-color: #fbfdff;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

main header h1 {
  font-size: 32px;
  color: #131c46;
}

main section {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 160px 0 60px 0;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

main section .container h2 {
  font-size: 30px;
  margin-bottom: 32px;
}

main section .container p {
  font-size: 17px;
  line-height: 1.5;
}

main section .container p a {
  text-decoration: underline;
  font-size: 17px;
}

main section .container a.btn {
  font-size: 19px;
  color: #000000;
  text-decoration: none;
  padding: 10px 26px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

main section .container a.btn:hover {
  background-color: transparent;
  color: #ffffff;
}

main section.about, main section.lessons, main section.next {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}

main section.home .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

main section.home .container .text {
  padding-right: 32px;
}

main section.home .container .text h2 {
  color: #ffffff;
}

main section.home .container .text p {
  margin-bottom: 64px;
  color: #ffffff;
}

main section.home .container .text p a {
  color: #ffffff;
}

main section.home .container .images {
  position: relative;
  overflow: hidden;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

main section.home .container .images img {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

main section.home .container .images img:nth-of-type(2),
main section.home .container .images img:nth-of-type(3),
main section.home .container .images img:nth-of-type(4),
main section.home .container .images img:nth-of-type(5),
main section.home .container .images img:nth-of-type(6) {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

main section.about .container {
  position: relative;
}

main section.about .container h2 {
  color: #ffffff;
}

main section.about .container p {
  margin-bottom: 80px;
  color: #ffffff;
}

main section.about .container h3.question {
  font-size: 17px;
  margin-bottom: 64px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
}

main section.about .container h3.question:hover i {
  opacity: 1;
  margin-left: 32px;
}

main section.about .container h3.question i {
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #ffffff;
}

main section.about .container h3.question:last-child {
  margin-bottom: 0;
}

main section.about .answer {
  position: absolute;
  top: 30%;
  left: 40%;
  padding: 32px 16px;
  background-color: #ffffff;
  -webkit-box-shadow: -5px 5px 32px #062793;
          box-shadow: -5px 5px 32px #062793;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

main section.about .answer h3 {
  margin-bottom: 32px;
  font-size: 24px;
  color: #131c46;
}

main section.about .answer p {
  margin-bottom: 0;
  color: #131c46;
}

main section.about .answer p a {
  color: #131c46;
}

main section.lessons h2 {
  color: #ffffff;
}

main section.lessons .lessons_inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

main section.lessons .lessons_inner div {
  position: relative;
  padding: 42px 0;
  background-color: #ffffff;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section.lessons .lessons_inner div:hover .overlay {
  width: 100%;
  left: 0;
}

main section.lessons .lessons_inner div .overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 10%;
  width: 10%;
  height: 100%;
  background-color: #131c46;
}

main section.lessons .lessons_inner div h3 {
  position: relative;
  z-index: 2;
  color: #0064c8;
  font-size: 19px;
}

main section.lessons .lessons_inner div.sass {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

main section.lessons .lessons_inner div.kali_linux {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

main section.next h2,
main section.next h3,
main section.next p,
main section.next a {
  color: #ffffff;
}

main section.next .timeline {
  position: relative;
  width: 80%;
  margin: 140px auto;
  border-top: 1px solid #e6e6e6;
}

main section.next .timeline .dot {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffffff;
}

main section.next .timeline .dot:nth-of-type(1) {
  top: -3px;
  left: 0;
}

main section.next .timeline .dot:nth-of-type(2) {
  top: -3px;
  left: 25%;
}

main section.next .timeline .dot:nth-of-type(3) {
  top: -3px;
  left: 50%;
}

main section.next .timeline .dot:nth-of-type(4) {
  top: -3px;
  right: 25%;
}

main section.next .timeline .dot:nth-of-type(5) {
  top: -3px;
  right: 0;
}

main section.next .timeline div {
  position: absolute;
  width: 20%;
  padding: 10px;
  background-color: #ffffff;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

main section.next .timeline div h3 {
  margin-bottom: 6px;
  font-size: 15px;
  color: #131c46;
}

main section.next .timeline div p {
  font-size: 13px;
  color: #131c46;
}

main section.next .timeline div:nth-of-type(1) {
  top: 8px;
  left: -10%;
}

main section.next .timeline div:nth-of-type(2) {
  top: -90px;
  left: 15%;
}

main section.next .timeline div:nth-of-type(3) {
  top: 8px;
  left: 40%;
}

main section.next .timeline div:nth-of-type(4) {
  top: -90px;
  right: 15%;
}

main section.next .timeline div:nth-of-type(5) {
  top: 8px;
  right: -10%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 3;
  padding: 0 0 16px 0;
  background-color: #fbfdff;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 16px;
}

footer .container h3.clock {
  font-size: 13px;
  color: #131c46;
}

footer .container div:first-child a {
  margin: 0 16px;
  font-size: 15px;
  color: #131c46;
}

footer .container div:last-child {
  font-size: 13px;
}

footer .container div:last-child a {
  margin-left: 10px;
  color: #072dac;
  text-decoration: none;
  font-weight: bold;
}

footer .container div:last-child a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1364px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 1075px) {
  aside {
    display: none;
  }
  .menu_btn.open {
    left: 25%;
  }
  .menu {
    width: 30%;
  }
}

@media screen and (max-width: 950px) {
  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  main header {
    padding: 16px 0;
  }
  main section {
    padding: 110px 0;
    height: auto;
  }
  main section.home .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: none;
        grid-template-columns: none;
    gap: 16px;
  }
  main section.home .container .images {
    display: none;
  }
  main section.about h3.question:nth-of-type(3) {
    display: none;
  }
  main section.about .answer {
    top: 100%;
    left: 0%;
    width: 100%;
  }
  main section.next .timeline {
    display: none;
  }
  main section.next h3 {
    display: none;
  }
}

@media screen and (max-width: 885px) {
  .menu_btn.open {
    left: 23%;
  }
}

@media screen and (max-width: 660px) {
  .toggle {
    top: 16px;
    right: 16px;
  }
  .menu_btn {
    top: 22px;
    left: 16px;
  }
  .menu_btn.open {
    left: 20%;
  }
  .menu_btn span:nth-of-type(1), .menu_btn span:nth-of-type(2), .menu_btn span:nth-of-type(3) {
    height: 1px;
  }
  .menu_btn span:nth-of-type(2) {
    margin: 5px 0;
  }
  .menu {
    width: 30%;
  }
  .menu nav span {
    font-size: 20px;
  }
  .menu i.fa-power-off {
    margin-top: 16px;
    font-size: 15px;
  }
}

@media screen and (max-width: 550px) {
  main header h1 {
    font-size: 26px;
  }
  main section.lessons .lessons_inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
  main section.lessons .lessons_inner .overlay div {
    left: 5%;
  }
  main section.lessons .lessons_inner div.javascript {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 16px;
  }
  footer .container div:first-child a {
    margin: 0 10px;
  }
  footer .container div:last-child a {
    margin-left: 5px;
  }
}

@media screen and (max-width: 475px) {
  .menu_btn.open {
    left: 25%;
  }
  .menu {
    width: 35%;
  }
}

@media screen and (max-width: 420px) {
  .menu_btn.open {
    left: 28%;
  }
  .menu {
    width: 40%;
  }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 16px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .container div:first-child a {
    margin: 0 10px;
  }
  footer .container h3.clock {
    margin: 0 16px;
  }
  footer .container div:last-child {
    margin: 16px;
  }
  footer .container div:last-child a {
    margin-left: 5px;
  }
}

@media screen and (max-width: 375px) {
  .menu_btn.open {
    left: 35%;
  }
  .menu {
    width: 50%;
  }
}

@media screen and (max-width: 290px) {
  .menu_btn {
    z-index: 6;
  }
  .menu_btn.open {
    left: 80%;
  }
  .menu {
    width: 100%;
    z-index: 5;
  }
  main header h1 {
    font-size: 15px;
  }
}
/*# sourceMappingURL=main.css.map */