@import './config';


body{
    background-color: $white;
    height: 100vh;
    overflow: hidden;
}

// menu
.menu_btn{
    position: fixed;
    top: 32px;
    left: 32px;
    z-index: 5;
    width: 40px;
    height: auto;
    cursor: pointer;
    @include transitionEase;

    &.open{
        left: 15%;
    }

    span:nth-of-type(1){
        display: block;
        width: 100%;
        height: 2px;
        background-color: #000;
        border-radius: 32px;
        @include transitionEase;

        &.open{
            width: 75%;
            margin-left: 25%;
        }
    }
    span:nth-of-type(2){
        @extend span:nth-of-type(1);
        margin: 4px 0;

        &.open{
            width: 50%;
            margin-left: 50%;
        }
    }
    span:nth-of-type(3){
        @extend span:nth-of-type(1);

        &.open{
            width: 25%;
            margin-left: 75%;
        }
    }
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    height: 100vh;
    width: 20%;
    background-color: $white;
    transform: translateX(-100%);
    @include flexDisplay(column, center, center);
    @include transitionEase;    

    &.open{
        transform: translateX(0%);
    }

    nav{
        span{
            position: relative;
            display: block;
            margin-bottom: 64px;
            font-family: 'Pompiere', cursive;
            font-size: $big-font;
            cursor: pointer;
            transform: translateX(-150%);
            @include transitionFast;

            &:last-child{
                margin-bottom: 0;
            }

            &.open{
                transform: translateX(0%);
            }

            &:hover span{
                width: 100%;
            }

            span{
                display: block;
                position: absolute;
                bottom: 0;
                margin: 0;
                left: 0;
                width: 10%;
                height: 1px;
                background-color: #000;
                transform: translateX(0%);
                @include transitionFast;
            }
        }
    }
}



// aside timeline
aside{
    position: fixed;
    z-index: 3;
    right: 32px;
    top: 200px;
    height: 30%;
    background-color: red;

    .line{
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: rgba(0, 0, 0, 0.199);
        opacity: 0.2;
    }

    span{
        position: absolute;
        top: 0;
        right: -3px;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        display: block;
        background-color: #000;
        opacity: 0.2;
        cursor: pointer;
        @include transitionEase;

        &.one{
            opacity: 1;
        }
        
        &.two{
            top: 35%;
        }
        &.three{
            top: 65%;
        }
        &.four{
            top: 100%;
        }
    }   
}





// main
main{
    position: relative;
    height: 100%;

    // header
    header{
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        padding: 26px 0;
        text-align: center;
        background-color: $white;
        border-bottom: 1px solid red;
    
        h1{
            font-size: $large-font;
        }
    }

    section{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 160px 0 60px 0;
        @include transitionSlower;

        .container{
            border: 1px solid red;
        }

        &.about, &.lessons, &.next{
            transform: translateY(100%);
        }
    }
}


footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 3;
    padding: 16px 0;
    background-color: yellow;
}